@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

.panel{
  width: 100%;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.panel.one{
  height: 100%;

}

.panel.two{
  height: 45%;
  background-color: #f9f9f9;
  padding-bottom: 5%;
}

.panel.three{
  height: 60%;
  background-color: #e5e3e5;
}

.panel.four{
  padding-top: 2%;
  padding-bottom: 2%;
  height: 120%;
  background-color: #f9f9f9;
}
nav{
  height: 6%;
  position: absolute;
}

.navbar-default .navbar-nav>li>a{
  color: #000000;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 0;
}

.navbar-default .navbar-nav>li>a:hover {
  text-decoration: none;
  border-bottom: 3px solid #f23e8c;
}

.navbar-default .navbar-nav>li>a:visited {
  text-decoration: none;
  border-bottom: 3px solid #f23e8c;
}

.navbar-nav li a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px !important;
  padding-top: 25px;
}

#logo img{
  float: left;
  object-fit: contain;
}

#logo h1{
  font-family: "Roboto", sans-serif;
}

.carousel-inner {
  background-color: #000000 !important;
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
  width: 100%;
}

.carousel-inner img{
  height: 100%;
  width: 100%;
  opacity: 0.35;
}

.carousel-inner h1{
  transform: translate( -20px, -450px);
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 70px;
  text-shadow: 2px 2px 4px #000000
}

.bold{
  font-weight: bold;
  color: #f23e8c;
}

hr{
  width: 60%;
}

.panel.two h1{
  font-family: "Raleway", sans-serif;
  color: #f23e8c;
}

#mission{
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: left;
  text-indent: 50px;
}

.meetings{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.meetings h1{
  color: #f23e8c;
}

.panel.three h3{
  color: #000000;
  font-family: "Raleway", sans-serif;
}

.panel.three p{
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.panel.three img{
  border: 3px solid black;
}

.panel.three a{
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}

.panel.three a:hover{
  color: #f23e8c;
}

.officers h1{
  color: #000000;
  font-family: "Raleway", sans-serif;
}

.officers{
  padding-bottom: 5%;
}

.panel.four h1{
  font-family: "Raleway", sans-serif;
}

.modal-title, .location, .link, .description{
  font-weight: bold;;
}

.event-location, .modal-body, .linkToEvent{
  font-weight: normal;
}
	/*div{border: 1px solid blue;}

	a{border: 1px solid red;}

	i{border: 1px solid green;}

	span{border: 1px solid yellow;}

	img{border: 1px solid pink;}

	hr{border: 1px solid orange;}

	p{border: 1px solid purple;}

	ul{border: 1px solid gray;}

	li{border: 1px solid teal;}

	button{border: 1px solid brown;}

	svg{border: 1px solid turquoise;}

  form{border: 1px solid violet;}

  h1{border: 1px solid darkgray;}

  nav{border: 1px solid peach;}

*/
